APP_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/voltis
# Each test creates a new database with a random name. The connection string
# here is used to create those databases.
APP_TESTS_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
APP_REGISTRATION_ENABLED=true
APP_CORS=http://desktop:5173,http://localhost:5173
APP_STATIC_DIR=../frontend/dist