@layer vuetify-core, vuetify-components, vuetify-overrides, vuetify-utilities, vuetify-final, theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-3xl: 120rem;
}

@layer base {
    .text-h5 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .text-h6 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}
